<div class="pv4">
	<div class="ph3 mw7 center">
		<h2 class="f2 b lh-title mb2 pl2-ns hideme">{{.heading}}</h2>
		<p class="mb4 mw6 pl2-ns hideme">{{.description}}</p>

		<div class="flex flex-wrap mhn2-ns mb3">
			{{ range .items }}
				<div class="ph2-ns w-50 w-33-ns mb4 hideme">
					{{ if .name }}
					<div class="w-40-ns mr3">
						<img src="{{ .image }}" alt="" class="db br0 w-50 w-100-ns">
					</div>
					
					<div class="w-60-ns">
						{{ if .name }}<p class="b mb0 small pt3">{{ .name }}</p>{{ end }}
					
						{{ if .title }}<p class="f6 small mb0">{{ .title }}</p>{{ end }}
					
						<a href="{{ .link }}"><img src="/img/icon-linkedin.svg" class="mw1 br0" /></a>
						
					</div>
					{{ else }}
					<div class="w-100 pa2">
						<img src="{{ .image }}" alt="" class="db mb3 br0">
					</div>
					{{ end }}					
				</div>
			{{ end }}
		</div>
	</div>
</div>
