<!-- Contact -->
<div class="mb4">
  <p class="i small">Note: if you are a study participant, please contact your study coordinator.</p>
  <form name="contact" action="/success.html" netlify>
    <div class="flex-l">
      <!-- Name -->
      <div class="w-50-l pr2-l">
        <fieldset>
          <input type="text" id="firstname" name="first name" placeholder="First Name" class="w-100 mb2">
          <label for="firstname">First Name</label>
        </fieldset>
      </div>
      <!-- Email -->
      <div class="w-50-l">
        <fieldset>
          <input type="text" id="lastname" name="last name" placeholder="Last Name" class="w-100 mb2">
          <label for="lastname">Last Name</label>
        </fieldset>
      </div>
    </div>
    <div>
      <div class="w-100-l">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

    <div>
      <div class="w-100-l">
        <fieldset>
          <input type="text" id="company" name="company" placeholder="Company (Optional)" class="w-100 mb2">
          <label for="company">Company (Optional)</label>
        </fieldset>
      </div>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="4" cols="80" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
    <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise bg-primary white">Submit</button>
    </div>
  </form>
</div>
</div>

      