<footer class="bg-primary ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div style="font-size:0.7rem;">
				<img src="/img/logomark.svg" class="br0" />
				<ul class="mb3 pt3">
					<li><a href="mailto:customersupport@bluenotetx.com" class="link">Email</a></li>
					<li><a href="https://www.linkedin.com/company/blue-note-therapeutics" class="link">LinkedIn</a></li>
				</ul>
			</div>

			<div class="tr" style="font-size:0.7rem;">
				<p>548 Market St, #55709 San Francisco, California 94104-5401</p>
				<p>Copyright © 2019 Blue Note Therapeutics, All rights reserved.<br /><a href="#open-modal-privacy" class="link">Terms of Use & Privacy Policy</a></p>
			</div>

		</div>
	</div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script src="/js/app.js"></script> -->
<script type="text/javascript" src="/js/scrollto.js"></script>