<div class="cover w-100 relative z-0 fade-1" style="background-image: url({{.bg}});" id="cover-bg">
  <div>
    <div class="flex-ns mhn2-l">
      {{ if .imageUrl }}
      <div class="w-50-ns ph2">
        <div class="mw6 center ph3-ns mt4 pv4">
          <img src="/img/line-h.svg" alt="" class="pv3 mt4" style="min-width:60vw;" id="line-h">
          <p><div class="mr5-l"><h1 class="f2 f1-l b di lh-title mb3 primary">
            {{.title}}
          </h1></div><p>
          {{ if .subtitle }}
          <h3 class="f4 di lh-title mb3 mw6 black">
            {{.subtitle}}
          </h3>
          {{ end }}
          {{ if .buttonText}}
            <div>
              <a href="{{ .currentURL }}#{{ .buttonLink }}" class="mt3 btn bg-primary white raise f6">{{.buttonText}}</a>
            </div>
          {{end}}
        </div>
      </div>
      <div class="w-50-ns pl2-l">
        <img src="{{.imageUrl}}" alt="" class="w-100">
      </div>
      {{ else }}

      <div class="mw6 center tc pt2 pt4-l pt0-m mb4 mb0-l ph4 pb4" style="border-bottom: 3px dashed var(--primary);">
          <div class="mt5-ns">
            <h1 class="f2 f1-l b di lh-title primary">
              {{.title}}
            </h1>
          </div>
          
            {{ if .subtitle }}
            <div class="mb2">
              <h3 class="f4 di lh-title mw6 black">
                {{.subtitle}}
              </h3>
            </div>
            {{ end }}

            {{ if .intro }}
            <div>
              <p class="di mw6 black">
                {{.intro}}
              </p>
            </div>
            {{ end }}
          </div>
        </div>
      </div>

      {{ end }}

    </div>
  </div>
</div>

