<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center relative mw8 z-max">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w4-ns flex-none">
		<img src="/img/logo.svg" alt="BLue Note Therapeutics" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<div class="flex">
		<div><a href="#about" class="pa3 no-underline db bg-highlight primary btn raise">About</a></div>

		<div class="ph1"><a href="#contact" class="pa3 no-underline db bg-highlight primary btn raise">Contact</a></div>
	</div>

</nav>
