<nav id="nav-main" class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center relative w-100 z-999">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w4 flex-none">
		<img src="/img/logo.svg" alt="Blue Note Therapeutics" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<div id="nav-p" class="flex">
		<div class="ph1"><a href="/why" class="pa3 no-underline db bg-highlight primary btn raise">Cancer and Mental Health</a></div>

		<div class="ph1"><a href="/about" class="pa3 no-underline db bg-highlight primary btn raise">About Us</a></div>

		<div class="ph1"><a href="/post" class="pa3 no-underline db bg-highlight primary btn raise">Blog</a></div>

		<!-- <div class="ph1"><a href="#open-modal-contact" class="pa3 no-underline db bg-highlight primary btn raise">Contact</a></div> -->
	</div>

	<div id="nav-r" class="br1 pa1 ma3 bg-primary">
        <a class="white b f4 ph2 no-underline" onclick="javascript:toggleMenu();">&#9776;</a>
    </div>

</nav>


<div id="mobile-menu" class="absolute fixed bg-primary z-max">
	<ul class="pa3 w-100 white center tc b">
		<li><a href="/"><img src="/img/logomark.svg" alt="Blue Note logo" class="pa3 br0 mb0 w-100 mw2"/></a></li>

		<li class="pv1"><a href="/why" class="pa3 no-underline db br1 bg-highlight black">Cancer and Mental Health</a></li>

		<li class="pv1"><a href="/about" class="pa3 no-underline db br1 bg-highlight black">About Us</a></li>

		<li class="pv1"><a href="/post" class="pa3 no-underline db br1 bg-highlight black">Blog</a></li>	

		<!-- <li><a href="#open-modal-contact" class="pa3 no-underline db">Contact</a></li> -->
	</ul>
	<hr />
	<p class="pt3 f6 b white center tc w-100"><a class="bg-black br1 pa2 ph3" onclick="javascript:toggleMenu();">&times;</a></p>
</div>

<script type="text/javascript">
	function toggleMenu (){
		$('#mobile-menu').fadeToggle();
	}
</script>
