::selection {
  background-color: var(--highlight);
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}

#b-logos, #m-nav, #line-c, #line-h {
	display:none;
}


@media (--breakpoint-large) {
	#m-logos {
		display:none;
	}
	#b-logos, #line-c, #line-h {
		display: inline;
	}
  #m-nav {
    display: flex;
  }
  #cover-bg {
    top:-102px;
  }
}

.small {
  font-size: 0.75rem;
}


.fullscreen-bg-text {
    position: absolute;
    top: 50%;
    left: 25%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 50%;
    opacity:1;
    -webkit-transform: translate(-25%, -25%);
       -moz-transform: translate(-25%, -25%);
        -ms-transform: translate(-25%, -25%);
        transform: translate(-25%, -25%);
}



.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:target {
    opacity: 1;
    pointer-events: auto;
  }
  &>div {
    width: 80%;
    border-radius: var(--border-radius);
    max-width: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: var(--white);
    color: var(--black);
  }
  &>div .scrollme {
    display: inline-block;
    max-height:30rem;
    overflow: scroll;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
    color: var(--black);
  }
}

.modal-close {
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.modal-window .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}