{{ define "main" }}

{{ partial "jumbotron" (dict "title" "Join Us" "subtitle" "At Blue Note Therapeutics, we’re committed to helping cancer patients live better. We’re growing our team and looking for individuals passionate about the intersection of digital innovation and health to help bring patients FDA-approved digital devices for reducing cancer-related distress.") }}


<div class="mw7 center ph2">
  <ul class="flex-ns flex-wrap mhn1-ns mb4">
      {{ range (.Paginator 10).Pages.ByPublishDate.Reverse }}
          <div class="w-100-ns ph1-ns flex">
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>

{{end}}
