{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.blurb.text "buttonText" .Params.cta "buttonLink" .Params.link "currentURL" .Permalink) }}

{{ partial "text-and-image-reverse" (dict "heading" .Params.introA.heading "text" .Params.introA.text "buttonText" .Params.introA.cta "buttonLink" .Params.introA.link "imageUrl" .Params.introA.image "bg" .Params.introA.bg "logo" .Params.introA.logo) }}

{{ partial "text-and-image" (dict "heading" .Params.introB.heading "text" .Params.introB.text "buttonText" .Params.introB.cta "buttonLink" .Params.introB.link "imageUrl" .Params.introB.image "bg" .Params.introB.bg) }}


<a name="{{.Params.link}}">&nbsp;</a>
{{ partial "text-and-image-reverse" (dict "heading" .Params.about.heading "text" .Params.about.text "buttonText" .Params.about.cta  "buttonLink" .Params.about.link "imageUrl" .Params.about.image "line" "yes") }}



<!-- <div id="open-modal-terms" class="modal-window">
  <a class="cancel" href="/#!"></a>
  <div>
    <a href="/#!" title="Close" class="modal-close"><img src="/img/close-button.svg" alt="close" class="w-40 mt2 ml3"></a>
    <div class="scrollme">
      <p class="f5 b mb0">Terms of Use</p>
      <hr />
      <p class="cms mb0 mb2 small">{{.Params.terms | markdownify}}</p>
    </div>
  </div>
</div> -->

<!-- <div id="open-modal-privacy" class="modal-window">
  <a class="cancel" href="/#!"></a>
  <div>
    <a href="/#!" title="Close" class="modal-close"><img src="/img/close-button.svg" alt="close" class="w-40 mt2 ml3"></a>
    <div class="scrollme">
      <p class="f5 b mb0">Terms of Use &amp; Privacy Policy</p>
      <hr />
      <div class="cms mb0 mb2 small">
        {{ .Content }}
      </div>
    </div>
  </div>
</div> -->



{{ end }}
